/* applies to anything of class "example-class-selector" */
.example-class-selector {
  margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
  /* Colors are in hexadecimal: http://www.colorpicker.com/ */  
  color: #CC00AA;
}

.jumbotron {
  position: relative;
  background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/carpool.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1; 
}

#personimg {
     right: 50px;
     position: absolute;
     top: 50px;
}

.jumbotron p {
     color: #6e6e6e;
}

p.drivecard {
     text-align: center;
}

.project a {
     text-align: center;
}

a.button {
<<<<<<< HEAD
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 80px;
  height: 80px;
  padding: 16px 20px;
  font-size: 40px;
  line-height: 1.33;
  border-radius: 85px;
  max-width: 100%;
}

.btn-circle.btn-xl.btn-user {
     position: relative;
     top: -24px;
}

.btn-circle.btn-xl.btn-schedule {
     position: relative;
     top: 20px;
     width: 100%;
     height: 50px;
     font-size: 20px;
     vertical-align: middle;
}

.glyphicon.glyphicon-time.time-icon {
     font-size: 200%;
     right: 45px;
     vertical-align: top;
     top: -10px
}

.form-inline .form-group {
     margin-right:10px;
}

.well-primary {
color: rgb(255, 255, 255);
background-color: rgb(66, 139, 202);
border-color: rgb(53, 126, 189);
}

.glyphicon { 
     margin-right:5px;
}

.panel-title {
     text-align: center;
}

.btn.btn-success.btn-sm{
     position: relative;
     top: 15px;
}

.backButton {
     position: relative;
     top: 20px;
}

.jumbotron.homepage {
     padding-top: 12px;
     padding-bottom: 12px;
}


.profile 
{
    min-height: 355px;
    display: inline-block;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider 
{
    background:none;    
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu 
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
<<<<<<< HEAD
}

.panel-heading {
    cursor: pointer;
}

.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}
=======
    }

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

.well{
    background-color:#fff!important;
    border-radius:0!important;
    border:none!important;
}

.well.login-box {
    width: 300px;
    top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    position: relative;

}
.well.login-box legend {
  font-size:26px;
  text-align:center;
  font-weight:300;
}
.well.login-box label {
  font-weight:300;
  font-size:16px;
  
}
.well.login-box input[type="text"] {
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
}

.well.welcome-text{
    font-size:21px;
}

/* Notifications */

.notification{
    position:fixed;
    top: 20px;
    right:0;
    background-color:#FF4136;
    padding: 20px;
    color: #fff;
    font-size:21px;
    display:none;
}
.notification-success{
  background-color:#3D9970;
}

.notification-show{
    display:block!important;
}

/*Loged in*/
.logged-in{
  display:none;
}
.logged-in h1{
  margin:0;
  font-weight:300;
}
>>>>>>> e8ca3ffb1dc44fd0bbc87946977735d71ea9992f
